<div class="container">
  <h3>Senseurs</h3>
  <div *ngIf="observable | async as sensors;  else loading;">
    <div *ngIf="sensors.length != 0; else empty;">

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Types supportés</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sensor of sensors
                                | paginate: { id: 'StationListPagination',
                                              itemsPerPage: itemsPerPage,
                                              currentPage: currentPage}">
          <td>{{sensor.info["name"]}}</td>
          <td>{{sensor.info["types"]}}</td>
          <td><button (click)="details(sensor.id)">Afficher les informations</button></td>
        </tr>
        </tbody>
      </table>



    </div>
    <ng-template #empty><b>La liste est vide.</b></ng-template>
  </div>
  <ng-template #loading><b>Chargement...</b></ng-template>
</div>
<pagination-controls  id="StationListPagination"
                      (pageChange)="pageChanged($event)">
</pagination-controls>
