<br />
<br />
<br />
<div class="container">
    <div *ngIf="sensor; else loading;">
      <h3>Détails du senseur: {{sensor.info["name"]}}</h3>
      <div class="col-2">
        <b>Type(s):</b> {{sensor.info["types"]}}
      </div>
      <div class="col-2">
        <b>Id de station:</b> {{sensor.info["station_id"]}}
      </div>
      <div class="col-2">
        <b>Créé le:</b> {{sensor.info["created_at"]["date"] | date : 'yyyy/MM/dd'}}
      </div>
      <br>
      <h4>Valeurs moyennes par heure - 48 dernières heures</h4>
      <div *ngIf="getObjectKeys(latestValues).length != 0; else noData;">
        <div class="col-2" *ngFor="let key of getObjectKeys(latestValues)">
          <aqi-graph [data]="latestValues[key]" [pollutant]="key"></aqi-graph>
        </div>
      </div>
    </div>
  <ng-template #loading><div class="alert alert-success">Chargement...</div></ng-template>
  <button (click)="back()">Retour</button>
</div>
<ng-template #noData><div class="alert alert-info">Aucune donnée disponible.</div></ng-template>